<html>
<head>
</head>
<body>
<form action="/stf/addAirplane" method="POST">
	<input type="airline_name" name = "airline_name" placeholder="airline_name" required/> </br>
	<input type="airplane_id" name = "airplane_id" placeholder="airplane_id" required/></br>
	<input type="seats" name = "seats" placeholder="seats" required/></br>
	<input type="submit" value = Add />
	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
</form>

<a href="/stf">Go back</a>
 
</body>


</html>
